/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/


// Colors.
$black: rgb(41, 41, 41);
$blue: rgb(0,160,210);
$light-blue: rgba($blue,0.1);
$default-font: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,"Helvetica Neue", sans-serif;
