/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/


// Colors.
$black: rgb(41, 41, 41);
$blue: rgb(0,160,210);
$green: #5CB85C;
$light-blue: rgba($blue,0.1);
$default-font: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,"Helvetica Neue", sans-serif;

$sm-icons : (
	add-user,
	aggregate,
	chart,
	check,
	cloud,
	email,
	eye,
	fire,
	flag,
	flexibility,
	folder,
	globe,
	graph,
	grid,
	hierarchy,
	idea,
	info,
	layers,
	layout,
	list,
	map,
	mic,
	modify,
	puzzle,
	refresh,
	ruler,
	scissors,
	search,
	settings,
	solid-graph,
	streamline,
	task,
	timer,
	user,
	users
)